
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title class="">kaizen</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Bulma Version 0.5.3 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css" integrity="sha256-spCEAaZMKebC3rE/ZTt8jITn65b0Zan45WXblWjyDyQ=" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/hero.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
  <script src="//cdn.quilljs.com/1.3.3/quill.js"></script>
  <script src="//cdn.quilljs.com/1.3.3/quill.min.js"></script>

  <!-- Theme included stylesheets -->
  <link href="//cdn.quilljs.com/1.3.3/quill.snow.css" rel="stylesheet">
  <link href="//cdn.quilljs.com/1.3.3/quill.bubble.css" rel="stylesheet">

</head>
<body>
  <div class="box cta">
    <p class="has-text-centered">
      The Internet is just a world passing around notes in a classroom - Jon Stewart
    </p>
  </div>

  <section class="container">
    <div class="columns features">
      <div class="column is-4">
        <div class="card">
          <div class="card-image has-text-centered">
              <i class="fa fa-edit"></i>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Create Notebooks </h4>
              <p>Make a notebook of every topic you are learning. Put some interactive notes inside your notebook. And review them later, just like you read a blog or news article</p>
              <p><a href="#">Learn more</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card">
          <div class="card-image has-text-centered">
              <i class="fa fa-flash"></i>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Create Flashcards</h4>
              <p>For every topic you created, you have the option to add corresponding flashcards. Click on and flip flashcards to check if you remember the topic right! </p>
              <p><a href="#">Learn more</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card">
          <div class="card-image has-text-centered">
              <i class="fa fa-bell-o"></i>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Create Reminders </h4>
              <p>Set reminders to every topic you created in notebooks and select reminder dates. Click on reminders later and your topics will show up here.</p>
              <p><a href="#">Learn more</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <img src="/images/ScreenShot-curve.png" alt="HTML5 Icon" style="width:840px;height:350px;">
      </div>
      <div class="column">
        <iframe width="700" height="350" src="https://www.youtube.com/embed/cVf38y07cfk?ecver=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="intro column is-8 is-offset-2">
      <div class="card-image has-text-centered">
        <h2 class="title"> You lose most of your memory in the first couple of days!</h2><br>
        <p class="subtitle">Remember to remind yourself to revise the awesome things you have learnt. We can also help you create revision shedules. Keep in mind, your unique memory strength will determine whether you retain half the information for 3 weeks or more, or less. Depending on what you’ve learned, especially classroom style! Repetition is easy enough – the more frequently we repeat something, the more likely it is to stick.  For this reason, one suggestion given to improve memory retention when taking a class is to review your notes and classwork regularly. Check out our awesome reminders and start reviewing your notes today! </p>
  </div>


  </section>
  <script async type="text/javascript" src="../js/bulma.js"></script>
</body>
</html>
