
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title class="">kaizen</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Bulma Version 0.5.3 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css" integrity="sha256-spCEAaZMKebC3rE/ZTt8jITn65b0Zan45WXblWjyDyQ=" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/hero.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
  <script src="//cdn.quilljs.com/1.3.3/quill.js"></script>
  <script src="//cdn.quilljs.com/1.3.3/quill.min.js"></script>

  <!-- Theme included stylesheets -->
  <link href="//cdn.quilljs.com/1.3.3/quill.snow.css" rel="stylesheet">
  <link href="//cdn.quilljs.com/1.3.3/quill.bubble.css" rel="stylesheet">

</head>
<body>
  <div class="box cta">
    <p class="has-text-centered">
      The Internet is just a world passing around notes in a classroom - Jon Stewart
    </p>
  </div>

  <section class="container">
    <div class="columns features">
      <div class="column is-4">
        <div class="card">
          <div class="card-image has-text-centered">
              <i class="fa fa-edit"></i>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Create Notebooks </h4>
              <p>Make a notebook of every topic you are learning. Put some interactive notes inside your notebook. And review them later, just like you read a blog or news article</p>
              <p><a href="#">Learn more</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card">
          <div class="card-image has-text-centered">
              <i class="fa fa-calendar"></i>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Create a TimeLine</h4>
              <p>For every topic for which you create notes, you have the option to display it on your timeline. Glance over the timeline with infite scroll to see all you have learnt !</p>
              <p><a href="#">Learn more</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card">
          <div class="card-image has-text-centered">
              <i class="fa fa-snowflake-o"></i>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Create Mind Maps </h4>
              <p>Create Mind Maps to organize the topics you have learnt in a notebook. Click on the nodes in the map, incase you feel that want to go the specific note!</p>
              <p><a href="#">Learn more</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="intro column is-8 is-offset-2">
        <div class="card-image has-text-centered">
            <i class="fa fa-bell-o"></i>
        </div>
      <h2 class="title">And don't forget to set reminder to help you revise!</h2><br>
      <p class="subtitle">Remember to remind yourself to revise the awesome things you have learnt. We can also help you create revision shedules.</p>
    </div>
  </section>
  <script async type="text/javascript" src="../js/bulma.js"></script>
</body>
</html>
